[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Bip001
Pelvis
thigh_l
calf_l
foot_l
ball_l
thigh_r
calf_r
foot_r
ball_r
Skirt_D1
Skirt_D2
Skirt_E1
Skirt_E2
Skirt_C1
Skirt_C2
Skirt_B1
Skirt_B2
Skirt_A1
Skirt_A2
Skirt_F1
Skirt_F2
watch_2
Ribbon_1
Ribbon_2
SpineSpliter
spine_01
spine_02
spine_03
neck_01
head
hair_A1
hair_A2
hair_A3
hair_A_deco1
hair_A_deco3
hair_A_deco2
hair_B1
hair_B2
hair_B3
hair_C1
hair_C2
hair_C3
hair_D1
hair_D2
hair_D3
hair_Right1
hair_Right2
hair_Right3
hair_Right4
hair_Back1
hair_Back2
hair_Back3
hair_Back4
hair_Left1
hair_Left2
hair_Left3
hair_Left4
eye_up
eye_down
eyeSP_R
eyeSP_L
eyebrow
eyebrow_R
eyebrow_L
Dummy_LookAt
Dummy_L_Eye01
Dummy_R_Eye01
Bone_R_eye01
Bone_L_eye01
teeth
mouth_down
mouth_up
mouth_right
mouth_downright
mouth_left
mouth_downleft
tong
Fx_Top
clavicle_l
upperarm_l
lowerarm_l
hand_l
thumb_01_l
thumb_02_l
index_01_l
index_02_l
middle_01_l
middle_02_l
ring_01_l
ring_02_l
Point001
Point002
Clavicle_LBone001
Dummy001
clavicle_r
upperarm_r
lowerarm_r
hand_r
thumb_01_r
thumb_02_r
index_01_r
index_02_r
middle_01_r
middle_02_r
ring_01_r
ring_02_r
Point005
Clavicle_RBone001
Point004
Point003
Dum_RightCape
Cape_B1
Cape_B2
Cape_A1
Cape_A2
Cape_A3
Cape_F1
Cape_F2
Cape_F3
Dum_LeftCape
Cape_C1
Cape_C2
Cape_D1
Cape_D2
Cape_D3
Cape_E1
Cape_E2
Cape_E3
CapeFront_B1
CapeFront_B2
CapeFront_A1
CapeFront_A2
Fx_Bottom
Fx_Ground
Fx_Name
Bip001-L-ForeTwist
Bip001-L-ForeTwist1
Bip001-R-ForeTwist
Bip001-R-ForeTwist1
